{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Álbum</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1>Editar Álbum: {{ album.nombre }} de {{ artista.nombre }}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-warning">Guardar Cambios</button>
            <a href="{% url 'detalles_artista' artista.slug %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
