{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Canción</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1>Eliminar Canción: {{ cancion.nombre }} para el álbum {{ album.nombre }} de {{ artista.nombre }}</h1>
        <p>¿Estás seguro de que deseas eliminar esta canción?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'detalles_album' artista.slug album.slug %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
